main/node
main/npm-debug.log
main/src/main/webapp/static/scripts/dist/
main/src/main/webapp/static/scripts/ng-templates-cache/
spcore/node_modules/
.sublime.sublime-workspace
main/bin
main/data
data/Local_ElasticSearch
.idea/
**.iml
dump.rdb
atlassian-ide-plugin.xml
.cache
schema.sql
spcore/patched-schema.sql
spcore/schema.sql
jetty-logback.log
main/src/main/webapp/local-bundles/
main/src/main/webapp/static/templates/sites/custom/local-dev/
main/src/main/webapp/static/templates/sites/custom/kittydemo/
spcore/src/test/resources/data/symphonydb_test_snapshot.sql
.DS_Store
*.sw[op]
main/src/test/js/protractor/selenium
main/src/test/js/symphony/test-results
reactor
/target/
*~

# Visual Studio Code Settings #
.vscode

#Vagrant folder
.vagrant/
